.action-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
button {
  width: auto;
}

.custom-dialog-container {
  white-space: pre-line;
}
.container-checkbox {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 0 auto;
}
