button {
  width: auto;
  font-size: 8px;
  margin: 0;
}
table,
td,
tr {
  margin: 0;
}
table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.active {
  background-color: rgb(180, 136, 136);
}
.title {
  font-size: 30px;
}
.stage-col {
  text-align: center;
}
.col1 {
  width: 20%;
}
.col2 {
  width: 80%;
}

.empty-space,
.displayMeal_btn {
  display: inline-block;
  text-align: center; /* Facultatif : centrez le contenu */
  margin: 0 5px 0 5px;
}
